*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 50%;

  @media screen and (min-width: 600px) {
    font-size: 62.5%;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.3;
}
img {
  max-width: 100%;
  display: block;
}
